<div class="esportezao" style="background-image: url(/{{esporte.imagemEsporte}}); background-size: contain;">
    
    <header>
        <h1>{{empresa.nomeEmpresa}}</h1>
    </header>
    
    <section class="info">
        <div class="info-item">
            <strong>Horários:</strong>
            <p>{{empresa.horarios}}</p>
        </div>
        <div class="info-item">
            <strong>Localização:</strong>
            <p>{{empresa.localizacao}}</p>
        </div>
        <div class="info-item">
            <strong>Telefone:</strong>
            <p>{{empresa.telefone}}</p>
        </div>
        <div class="info-item">
            <strong>Preço:</strong>
            <p>{{empresa.preco}}</p>
        </div>
        <div class="info-item">
            <strong>Descrição:</strong>
            <p>{{empresa.descricao}}</p>
        </div>
    </section>
</div>

